<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="Test1">
  <parameter name="browser" value="chrome"></parameter>
  <parameter name="url1" value="https://www.amazon.in/"></parameter>
    <classes>
      <class name="Spring.AutomateAWebappTestNG.TestNgTest1">
      <methods>
      <include name="testRegister"></include>
      </methods>
      
      </class>
    </classes>
  </test> 
  
  
    <test  name="Test2">
   <parameter name="browser" value="chrome"></parameter>
  <parameter name="url2" value="https://www.amazon.in/"></parameter>
    <classes>
      <class name="Spring.AutomateAWebappTestNG.TestNgTest1">
      <methods>
      <include name="testLogin"></include>
      </methods>
      
      </class>
    </classes>
  </test> 
   <test  name="Test3">
   <parameter name="browser" value="edge"></parameter>
  <parameter name="url3" value="https://www.amazon.in/"></parameter>
    <classes>
      <class name="Spring.AutomateAWebappTestNG.TestNgTest1">
      <methods>
      <include name="testInvalidLogin"></include>
      </methods>
      
      </class>
    </classes>
  </test>
  <test  name="Test4">
   <parameter name="browser" value="edge"></parameter>
  <parameter name="url4" value="https://www.amazon.in/"></parameter>
    <classes>
      <class name="Spring.AutomateAWebappTestNG.TestNgTest1">
      <methods>
      <include name="testSearchandAddToCart"></include>
      </methods>
      
      </class>
    </classes>
  </test> 
</suite> <!-- Suite -->





